
<app-chat></app-chat>


<!-- navbar -->
<div>
    <mat-toolbar class="nav-bar">
       
        <!-- <span>Home</span> -->
        <button mat-button (click)="scrollToBottom()">
          Home
        </button>       
         <span class="spacer"></span>
        <button mat-button (click)="scrollToTop()">Get inspired</button>
        <span class="spacer"></span>
        <button mat-button (click)="scrollToBottom()">Courses and stuff</button>
        
        
      </mat-toolbar>
</div>



<app-dashboard></app-dashboard>

