<div fxLayout="column" class="userTitle">
    <div  fxLayout="row" >
        <h2 style="margin-top:0px !important;" >Welcome back, Gigi!</h2>

    </div>
    <div  fxLayout="row" class="genericDescription">

       <div fxFlex="60%">
        <h3 class="subTitle">Courses that are recommended</h3>
        <h3 class="subTitle">for <span style="color:#f7931e">Your profile</span></h3>
        <p class="courseDescription">This is an example of a course tahat is going to help you balas dfasdjfak 
            lsjd fklasjdlkf.aas This is an example of a course that is going to help you balasdfasdjfaklsjdfklasjdlkfThis 
            is an example of a course that is going </p>

        <button mat-raised-button color="primary" class="courseDescription">start course</button>
       </div>

       <div fxFlex="20%">
        <img src="./../../../../assets/course-images/developer.svg" alt="availableCourses" class="courseImage">
       </div>
    
    </div>

    <div  fxLayout="row">
        <mat-card class="cardRow">
            <mat-card-header>
              <mat-card-title>Course1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This card has divider and indeterminate progress as footer.This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cardRow">
            <mat-card-header>
              <mat-card-title>Learning Path 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer.This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cardRow">
            <mat-card-header>
              <mat-card-title>Learning Path 2</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This card has divider and indeterminate progress as footer.This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
    </div>

 

</div>









